

.head{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right,#2c3e50,#4ca1af);
    text-align: center;
    padding: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}